<template>
  <q-page class="bg-primary">

    <q-layout view="lHh lpr lFf" container style="height: 500px" class="bg-primary">

          <div class="q-pa-md" style="padding-top: 0;">
            <div class="account-details">
              <p class="text-subtitle1 text-white">Account balance</p>
              <div class="flex justify-between">
                <div class="flex">
                  <div class="border bg-secondary text-white rounded-borders text-caption" style="padding:2px 12px;">S$</div>
                  <div class="text-h6 text-white q-pl-sm" style="line-height: 1.4rem;">3,000</div>
                </div>
                <div class="new-card">
                  <a href="#/new-card" class="text-info text-weight-bold"><q-icon name="add_circle" class="q-mr-xs" size="14px" color="info" />New card</a>
                </div>
              </div>
            </div>
          </div>

    <div class="q-pa-md">
        <div class="q-gutter-y-md" style="max-width: 600px">
          <q-card class="no-box-shadow bg-primary">
            <q-tabs
              v-model="tab"
              dense
              class="text-white bg-primary"
              active-color="white"
              indicator-color="info"
              align="left"
              narrow-indicator
            >
              <q-tab name="debitcards" label="My debit cards" class="ap-card-tab" />
              <q-tab name="allcompanycards" label="All company cards" class="ap-card-tab" />
            </q-tabs>

            <q-tab-panels v-model="tab" animated class="bg-primary">
              <q-tab-panel name="debitcards" style="padding: 0">
                <div class="q-gutter-md">
                  <h4 class="text-secondary text-center q-pa-lg" v-if="notes.length === 0">Please add card.</h4>
                  <q-carousel
                    v-model="slide"
                    transition-prev="scale"
                    transition-next="scale"
                    swipeable
                    animated
                    control-color="secondary"
                    navigation
                    height="300px"
                    class="bg-primary text-white shadow-1 rounded-borders ap-card"
                    id="ap-carousel"
                    >
                    <q-carousel-slide
                    v-for="({ title, cardNumber, date }, idx) in notes"
                    :key="idx"
                    :name="idx"
                    :title="title"
                    :cardNumber="cardNumber"
                    :date="date"
                    @click="router.push(`/note/${idx}`)"
                    style="padding: 0;" class="column no-wrap flex-center relative">
                        <div class="show-card-number"><q-icon name="visibility" class="q-mr-xs" size="14px" color="secondary" />Show card number</div>
                        <q-card class="my-card bg-secondary text-white full-width">
                          <q-card-section style="height: 220px;">
                            <div class="ap-card-logo">Logo</div>
                              <div class="text-h6">{{title}}</div>
                              <div class="text-acc-number"><span>● ● ● ●</span> <span>● ● ● ●</span> <span>● ● ● ●</span>  {{cardNumber}}</div>
                              <div class="flex">
                                <div class="card-thru">Thru: <span>{{date}}</span></div>
                                <div class="card-cvv">CVV: <span>***</span></div>
                              </div>
                              <div class="visa-logo">Visa</div>
                          </q-card-section>
                        </q-card>
                    </q-carousel-slide>
                  </q-carousel>
                </div>
              </q-tab-panel>

              <q-tab-panel name="allcompanycards" class="text-white q-pa-xs">
                <div class="text-h6 q-mt-lg q-mb-lg">All company cards</div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </q-tab-panel>

            </q-tab-panels>
          </q-card>

        </div>
      </div>
    </q-layout>

    <q-slide-item @bottom="onBottom" class="bg-primary as-slide">
      <template v-slot:bottom>
        <q-icon name="link_off" />
      </template>

      <q-item style="height: 150px">
        <div class="flex ap-more-option">
          <div class="option-btn">
            <q-btn color="accent" @click="freeze();  alert = true" :class="{active:isActive}" round><q-icon name="ac_unit" color="white" size="20px" /></q-btn>
            <div class="option-btn-label q-mt-sm">{{isActive ? 'Unfreeze card' : 'Freeze card'}}</div>
          </div>
          <div class="option-btn">
            <q-btn color="accent" round><q-icon name="speed" color="white" size="20px" /></q-btn>
            <div class="option-btn-label q-mt-sm">Set spend limit</div>
          </div>
          <div class="option-btn">
            <q-btn color="accent" round><q-icon name="add_to_drive" color="white" size="20px" /></q-btn>
            <div class="option-btn-label q-mt-sm">Add to GPay</div>
          </div>
          <div class="option-btn">
            <q-btn color="accent" round><q-icon name="find_replace" color="white" size="20px" /></q-btn>
            <div class="option-btn-label q-mt-sm">Replace card</div>
          </div>
          <div class="option-btn">
            <q-btn color="accent" @click="confirm = true" round><q-icon name="delete" color="white" size="20px" /></q-btn>
            <div class="option-btn-label q-mt-sm">Cancel card</div>
          </div>
      </div>
    </q-item>
    </q-slide-item>

    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">Frozen</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          This card is set to frozen. Please click "unfreeze card" button to enable.
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="primary" text-color="white" />
          <span class="q-ml-sm">Do you want to delete this card ?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Yes" @click="remove()" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import { defineComponent, ref, onBeforeUnmount } from 'vue'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'
import { useLocalNotes } from 'src/helper'

export default defineComponent({
  name: 'PageIndex',
  setup () {
    const $q = useQuasar()
    let timer
    const notes = useLocalNotes()
    const router = useRouter()

    const remove = () => {
      notes.value.splice(notes.idx, 1)
      router.push('/')
    }

    function finalize (reset) {
      timer = setTimeout(() => {
        reset()
      }, 1000)
    }

    onBeforeUnmount(() => {
      clearTimeout(timer)
    })

    return {
      slide: ref(0),
      tab: ref('debitcards'),
      isActive: false,
      alert: ref(false),
      confirm: ref(false),
      remove,
      router,
      notes,
      lorem: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque voluptatem totam, architecto cupiditate officia rerum, error dignissimos praesentium libero ab nemo.',

      onBottom ({ reset }) {
        $q.notify('Bottom action triggered. Resetting in 1 second.')
        finalize(reset)
      }
    }
  },
  methods: {
    freeze: function () {
      if (!this.isActive) {
        this.isActive = true
      } else {
        this.isActive = false
      }
      const element = document.getElementById('ap-carousel').getElementsByClassName('q-carousel__slide')[0]
      element.classList.toggle('disabled')
    }
  }
})
</script>
