<template>
  <div class="q-pa-md" style="max-width: 600px;  margin: 0 auto;">
  <h4 class="text-primary">Enter card name</h4>
    <q-form @submit="submit">
        <q-input class="q-mt-sm" outlined
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
        v-model="note.title" label="Card Name" />

        <div class="q-mt-md">
          <q-btn color="grey" to="/" type="reset">Cancel</q-btn>
          <q-btn class="q-ml-sm" color="positive" type="submit"> Create </q-btn>
        </div>
      </q-form>

  </div>
</template>

<script>
import { ref, reactive } from 'vue'
import { useLocalNotes } from 'src/helper'
import { useRouter } from 'vue-router'

export default {
  setup () {
    const name = ref(null)

    const router = useRouter()
    const notes = useLocalNotes()

    const cardNumber = Math.floor(1000 + Math.random() * 9000)

    const cardDate = randomDate(new Date(2035, 0, 1), new Date())

    const date = cardDate.toLocaleDateString('en-US')

    const note = reactive({
      title: '',
      cardNumber: cardNumber,
      date: date
    })

    const submit = () => {
      notes.value.unshift({
        ...note,
        createdAt: Date.now(),
        updatedAt: Date.now()
      })
      router.push('/')
      note.title = ''
      note.cardNumber = cardNumber
      note.date = date
    }

    function randomDate (start, end) {
      return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()))
    }

    return {
      name,
      note,
      submit,
      cardNumber,
      date
    }
  }
}
</script>
