// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap')

html, body
  font-family: $default-font

.ap-card-tab
  padding-left: 0
  flex: 0 !important
  text-transform: none

  .q-tab__label
    opacity: 0.5

  &.q-tab--active .q-tab__label
    opacity: 1
    font-weight: bold

.ap-card
  position: relative

  .q-carousel__navigation
    .q-btn
      margin: 0
      opacity: 0.1

  .q-carousel__navigation-icon--active
    &.q-btn
      opacity: 1

  .my-card
    border-radius: 14px
    margin-top: 25px

  .q-carousel__control
    bottom: -5px

  .ap-card-logo
    background: url(../assets/Logo.svg)
    background-size: contain
    width: 70px
    height: 20px
    display: inline-block
    position: absolute
    right: 24px
    font-size: 0
    top: 24px

  .q-card__section
    padding: 50px 24px 24px

  .text-h6
    font-size: 22px
    font-weight: bold

.show-card-number
  background: white
  color: $secondary
  padding: 8px 12px 15px
  border-radius: 8px 8px 0 0
  position: absolute
  right: 0
  top: 24px
  font-size: 12px
  font-weight: 600

.text-acc-number
  margin: 30px 0 15px
  font-weight: bold

  span
    margin-right: 24px
    font-size: 14px

.card-thru, .card-cvv
  font-size: 13px
  font-weight: bold
  margin-right: 30px

.visa-logo
  background: url(../assets/VisaLogo.svg)
  background-size: contain
  width: 60px
  height: 20px
  display: inline-block
  position: absolute
  right: 24px
  font-size: 0
  bottom: 24px

.ap-more-option 
    background: #EDF3FF
    border-radius: 25px 25px 0 0
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 20px 30px
    flex-wrap: nowrap
    text-align: center
    font-size: 13px
    line-height: 1rem
    color: #0C365A
    justify-content: space-between

.q-header
  .q-toolbar
    justify-content: right

    .q-icon
      background: url(../assets/LogoSymbol.svg)
      background-size: contain
      width: 25px
      height: 25px
      font-size: 0

  .q-toolbar__title
    display: none

  .q-layout__shadow
    display: none

.as-slide
  position: absolute
  left: 0
  right: 0
  bottom: 0

@media (min-width: $breakpoint-md-min)
  .q-page.bg-primary, .q-layout-container.bg-primary, .q-card.bg-primary, .q-carousel.bg-primary, .q-tab-panels.bg-primary, .q-tabs.bg-primary, .bg-primary.as-slide
    background: white !important

  .ap-card-tab .q-tab__label
    color: black

  .q-carousel.rounded-borders
    border-radius: 0

  .q-carousel__slides-container
    width: 414px
    margin: 0 auto

  .q-carousel__slide
    position: relative

  .ap-more-option
    width: 414px
    left: 110px

  .q-header
    display: none

  .account-details
    margin-top: 40px

    .text-subtitle1
      color: black !important

    .text-h6
      color: black !important
      font-weight: bold

  .new-card a
    background: #325BAF
    padding: 10px
    border-radius: 4px
    color: #fff !important

    .text-info
      color: #fff !important

  .q-tab-panels.bg-primary
    .q-tab-panel
      color: black !important

  .as-slide
    position: relative