<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      class="bg-primary text-white"
    >
      <q-list>
        <q-item-label
          header
        >
          <img src="../assets/aspireLogo.svg" />
          <p class="subtitle q-mt-sm">Trusted way of banking for 3,000+ SMEs and startups in Singapore</p>
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Home',
    icon: 'home',
    link: '/'
  },
  {
    title: 'Cards',
    icon: 'credit_card',
    link: 'payments'
  },
  {
    title: 'Payments',
    icon: 'payments',
    link: 'credit page'
  },
  {
    title: 'Credit',
    icon: 'keyboard_double_arrow_up',
    link: 'credit page'
  },
  {
    title: 'Settings',
    icon: 'manage_accounts',
    link: 'settings'
  }
]

import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
